.add-laptop {
	padding-bottom: 30px;

	.laptop-form {
		width: 100%;
		max-width: 700px;

		textarea {
			resize: none;
		}
		::-webkit-scrollbar-track {
			background-color: transparent;
			border-radius: 10px;
		}

		::-webkit-scrollbar {
			width: 5px;
			background-color: transparent;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #fff;
			background-image: -webkit-linear-gradient(top, #e4f5fc18 0%, #34534a 100%);
		}
	}
}
